// Fonts
$font-primary: "Oswald", "Arial", sans-serif;
$font-secondary: "Arial", sans-serif;

// Colors
$basic-black: rgb(0, 0, 0);
$basic-green: rgb(104, 183, 56); // #68B738
$basic-green-2: rgb(94, 170, 47); // #5EAA2F
$basic-grey: rgb(242, 242, 242); // #F2F2F2
$basic-white: rgb(255, 255, 255);

$special-grey: rgb(102, 102, 102); // #666666
$special-grey-2: rgb(205, 205, 205); // #CDCDCD
$special-grey-3: rgb(234, 234, 234); // #EAEAEA
$special-grey-4: rgb(235, 235, 235); // #EBEBEB
$special-dark-grey: rgb(68, 68, 68); // #444444
$special-dark-grey-2: rgb(34, 34, 34); // #222222

$status-error: rgb(255, 130, 130); // #FF8282

$border-grey-light: rgb(217, 217, 217); // #D9D9D9
$border-grey: rgb(230, 230, 230); // #E6E6E6

$mask-green: rgba(104, 183, 56, 0.85);

// Effect styles
$shadow-normal: 0 1px 3px rgba(0, 0, 0, 0.16);
$shadow-hover: 0 2px 4px rgba(0, 0, 0, 0.19);
$shadow-pressed: 0 3px 5px rgba(0, 0, 0, 0.2);

// Viewports
$tablet-width: 708px;
$desktop-width: 1220px;
