.card-list__label {
  font-size: 12px;
  line-height: 16px;
  color: $special-dark-grey;
}

.card-list__value {
  margin-left: 0;

  font-size: 12px;
  line-height: 16px;
  color: $special-dark-grey;
}
