.product-card__image-link {
  text-decoration: none;
}

.product-card__title-link {
  text-decoration: none;
}

.product-card__title {
  @include heading($font-primary, 16px, 20px, normal);

  color: $special-dark-grey-2;
  text-transform: uppercase;
}

.product-card__text {
  font-size: 12px;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .product-card {
    padding: 35px;
    width: 324px;

    box-sizing: border-box;
  }
}

@media (min-width: $desktop-width) {
  .product-card {
    width: 245px;
  }
}
