.product-card__title-link {
  text-decoration: none;
}

.product-card__title {
  @include heading($font-primary, 16px, 20px, normal);

  color: $special-dark-grey-2;
  text-transform: uppercase;
}

.product-card__text {
  font-size: 12px;
  line-height: 16px;
}
