.button {
  display: inline-block;

  font-family: $font-primary;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $basic-white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  background-color: $basic-green;
  border: none;
}
